main > section > div.S {
	flex: 1 1 100%;
	display: flex;
	flex-flow: column nowrap;
}

main > section > div.S > header {
	margin: 1em 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

main > section > div.S > section {
	flex: 1 1 100%;
	display: grid;
	align-items: center;
	overflow: auto;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-gap: 10px;

}

main > section > div.S > section > p {
	height: 100px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
}
