.alert-container {
  position: fixed;
  box-sizing: border-box;
  z-index: 9999;
  padding: 0.5rem;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
}

.alert {
  position: relative;
  min-width: max-content;
  padding-left: 0.4rem;
  cursor: pointer;
  z-index: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-left: 0.25rem solid var(--alert-color);
}

.alert-title {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: var(--alert-color);
}

.alert-text {
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.alert-info {
  --alert-color: #3498db;
}

.alert-success {
  --alert-color: #25d42a;
}

.alert-warning {
  --alert-color: #e6ba0d;
}

.alert-danger {
  --alert-color: #e24332;
}
