.garage {
  align-content: start;
  align-items: stretch;
  gap: 1rem;
  grid-template-columns: 100%;
}

.garage-item {
  display: grid;
  place-items: stretch;
  grid-template-columns: 31% 31% auto;
  grid-template-rows: 100%;
}

.garage-figone,
.garage-figtwo,
.garage-figthree {
  display: grid;
  place-items: center;
}

.garage-figthree {
  grid-column-start: 3;
  align-self: center;
}
