.stats {
  display: grid;
  align-items: stretch;
  grid-template-rows: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.stats-item {
  display: grid;
  place-items: center;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto;
}
