:root {
  font-family: serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #e4e4e4;
  color-scheme: dark;
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: grid;
  row-gap: 2%;
  grid-template-rows: 18% 70% 8%;
  grid-template-columns: auto;
}

figure {
  margin: 0;
}

img {
  max-width: 80%;
  max-height: 80%;
  object-fit: scale-down;
}

progress {
  width: 80%;
}

h2 {
  font-size: 1.3rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.1rem;
  line-height: 1;
}

h2,
h3 {
  margin: 0;
}
