.junkyard {
  display: grid;
  place-items: stretch;
  grid-template-rows: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.junkyard-left {
  display: grid;
  place-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 100%;
}

.junkyard-left > .rounded {
  border: 2px solid;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
}

.junkyard-right {
  display: grid;
  place-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 100%;
}

.junkyard-right .first-child {
  grid-row: span 2;
}

figure.first-child {
  display: grid;
  place-self: stretch;
  place-items: center;
  grid-template-rows: repeat(4, auto);
}

.first-child .controls {
  justify-self: stretch;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}
