.navs {
  display: grid;
  align-items: stretch;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
}

.navs-item {
  display: grid;
  place-items: center;
  grid-template-rows: auto;
  grid-template-columns: auto;
}
