.parking-storage {
  gap: 1rem;
  grid-template-rows: min-content;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.parking-storage figure {
  display: grid;
  place-items: center;
}

.parking.controls {
  justify-self: stretch;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}
