.place {
  display: grid;
  row-gap: 2%;
  grid-template-rows: 18% 80%;
  grid-template-columns: 100%;
}

.place-down {
  overflow-y: auto;
  display: grid;
}

.place-down-span {
  place-self: center;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.place-top {
  display: grid;
  place-items: center;
  grid-template-rows: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.place-top > * {
  display: grid;
  place-items: center;
}

.place-top > .place-start {
  place-self: stretch;
  grid-template-rows: 75% 25%;
}

.place-top > .place-end {
  place-self: stretch;
  justify-items: stretch;
}

.place-top-span {
  grid-column: span 3;
}
